<div class="col-sm-6 col-no-pad">
	<div class="page_header">
		<h1>
			Certifications
		</h1>
	</div>
	<div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
		<div class="panel panel-primary">
			<div class="panel-heading" id="headingOne" role="tab">
				<h4 class="panel-title">
					<a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion"
					   data-target="#collapseOne"
					   data-toggle="collapse" role="button">
						Microsoft Certifications
					</a>
				</h4>
			</div>
			<div aria-labelledby="headingOne" class="panel-collapse collapse in" id="collapseOne" role="tabpanel">
				<div class="panel-body">
					<ul>
						<li>
							Microsoft Certified IT Professional (MCITP): Database Developer 2008
						</li>
						<li>
							Microsoft Certified Technology Specialist (MCTS): SQL Server 2008 Database Development
						</li>
						<li>
							Microsoft Certified Solution Developer (MCSD)
						</li>
						<li>
							Microsoft Certified Professional (MCP)
						</li>
					</ul>
					<p>
						<img alt="MCSD Logo" class="logo60" src="images/mcsd.png"/>
						<img alt="MCITP Logo" class="logo60" src="images/mcitp.png"/>
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" id="headingTwo" role="tab">
				<h4 class="panel-title">
					<a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion"
					   data-target="#collapseTwo" data-toggle="collapse" role="button">
						Microsoft Certification Exams
					</a>
				</h4>
			</div>
			<div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
				<div class="panel-body">
					<ul>
						<li>
							Designing Database Solutions and Data Access Using Microsoft SQL Server 2008
						</li>
						<li>
							Microsoft SQL Server 2008 Database Development
						</li>
						<li>
							Designing and Implementing Databases with Microsoft SQL Server 2000 Enterprise Edition
						</li>
						<li>
							Designing and Implementing Web Solutions with Microsoft Visual InterDev 6.0
						</li>
						<li>
							Analyzing Requirements and Defining Solution Architectures
						</li>
						<li>
							Designing and Implementing Distributed Applications with Microsoft Visual Basic 6.0
						</li>
						<li>
							Designing and Implementing Desktop Applications with Microsoft Visual Basic 6.0
						</li>
						<li>
							Administering Microsoft SQL Server 7.0
						</li>
						<li>
							Designing and Implementing Databases with Microsoft SQL Server 7.0
						</li>
						<li>
							System Administration of Microsoft SQL Server 6.5
						</li>
						<li>
							Implementing a Database Design on Microsoft SQL Server 6.5
						</li>
						<li>
							Microsoft Access for Windows 95 and the Microsoft Access Developer’s Toolkit
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" id="headingThree" role="tab">
				<h4 class="panel-title">
					<a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion"
					   data-target="#collapseThree" data-toggle="collapse" role="button">
						Coursera Certificates
					</a>
				</h4>
			</div>
			<div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
				<div class="panel-body">
					<ul>
						<li>
							Data Analysis and Statistical Inference, Duke University
						</li>
						<li>
							The Data Scientist’s Toolbox, Johns Hopkins University
						</li>
						<li>
							R Programming, Johns Hopkins University
						</li>
						<li>
							Getting and Cleaning Data, Johns Hopkins University
						</li>
						<li>
							Exploratory Data Analysis, Johns Hopkins University
						</li>
						<li>
							Reproducible Research, Johns Hopkins University
						</li>
						<li>
							Statistical Inference, Johns Hopkins University
						</li>
						<li>
							Regression Models, Johns Hopkins University
						</li>
						<li>
							Practical Machine Learning, Johns Hopkins University
						</li>
						<li>
							Developing Data Products, Johns Hopkins University
						</li>
						<li>
							Machine Learning, Stanford University
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-1 col-no-pad col-spacer">
</div>
<div class="col-sm-4 col-no-pad">
	<img class="staticImage" src="{{ image.src }}" alt="{{ image.alt }}">
</div>