<div class="col-sm-8 col-no-pad">
	<div class="page_header">
		<h1>
			Education
		</h1>
	</div>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"
					   aria-expanded="true" aria-controls="collapseOne">
						College
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<p>
						<strong>
							University of Minnesota, Minneapolis, MN
						</strong>
						<br/>
						BS Economics, 1986
						<br/>
						3.86 GPA
						<br/>
						Dean's List, Undergraduate Teaching Assistantship
					</p>
					<p>
						<img src="images/umin-logo.jpg" class="logo60" alt="U of M"/>
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Military Service
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<p>
						<strong>Defense Language Institute, Monterey, CA</strong>
						<br/>
						Basic Russian Course, 1976
						<br/>
						Honor Graduate
					</p>
					<p>
						<img src="images/dli_logo.jpg" class="logo60" alt="DLI"/>
					</p>
					<p>
						<strong>USAF School of Applied Cryptologic Sciences,
							San Angelo, TX</strong>
						<br/>
						Honor Graduate, 1976
					</p>
					<p>
						<strong>US Naval Communications Station, Rota, Spain</strong>
						<br/>
						January 1977 – June 1979
						<br/>
						Cryptologic Technician / Russian Interpreter
						<br/>
						Collected and interpreted Russian-language materials aboard reconnaissance
						aircraft, employing a variety of electronic equipment. Cited for outstanding
						language proficiency. Position required a Top Secret security clearance. Achieved
						the rank of Petty Officer Second Class. Awarded Good Conduct Medal, Naval Expeditionary
						Medal, and Aircrewman designation. Honorable Discharge. Went to college on the GI Bill
						after discharge.
					</p>
					<p>
						<img src="images/navy-logo.png" class="logo60" alt="'US Navy"/>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-1 col-no-pad col-spacer">
</div>
<div class="col-sm-3 col-no-pad">
	<img class="img-responsive" src="{{ image.src }}" alt="{{ image.alt }}">
</div>
