<div class="col-sm-6 col-no-pad">
	<div class="page_header">
		<h1>
			Home
		</h1>
	</div>
	<div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
		<div class="panel panel-primary">
			<div class="panel-heading" id="headingOne" role="tab">
				<h4 class="panel-title">
					<a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion"
					   data-target="#collapseOne"
					   data-toggle="collapse" role="button">
						Welcome
					</a>
				</h4>
			</div>
			<div aria-labelledby="headingOne" class="panel-collapse collapse in" id="collapseOne" role="tabpanel">
				<div class="panel-body">
					<p>
						Welcome to Steve Moore's portfolio site. I work in the Twin Cities area, in Minnesota,
						developing web and database applications. I live in Northeast Minneapolis.
					</p>
					<ul>
						<li>
							Skilled full-stack web / database developer currently focused on open source tools and
							platforms
						</li>
						<li>
							Experienced data architect / database administrator
						</li>
						<li>
							Strong analysis, design & reporting background
						</li>
						<li>
							Exceptional performance tuning, troubleshooting & stabilization skills
						</li>
						<li>
							MCSD and MCITP, with 7 certifications in SQL Server development / administration
						</li>
						<li>
							Camping and birding enthusiast
						</li>
					</ul>
					<a class="btn btn-success btn-sm" href="/reports/months" target="_self">
						View Birding Demos
					</a>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" id="headingTwo" role="tab">
				<h4 class="panel-title">
					<a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion"
					   data-target="#collapseTwo" data-toggle="collapse" role="button">
						What's New
					</a>
				</h4>
			</div>
			<div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
				<div class="panel-body">
					<p>
						I'm continually improving this site. I've added AWS S3 functionality and I've upgraded
						from AngularJS 1.0 to 2.0.
					</p>
					<p>
						During the past year, I've completed coursework in statistics, machine learning, analytics
						and data visualization tools (Python, R, and Octave), JavaScript, Typescript, MongoDB,
						Express.js,
						AngularJS, Node.js, Gulp, PHPUnit and the Laravel PHP framework.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" id="headingFour" role="tab">
				<h4 class="panel-title">
					<a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion"
					   data-target="#collapseFour" data-toggle="collapse" role="button">
						Tools
					</a>
				</h4>
			</div>
			<div aria-labelledby="headingFour" class="panel-collapse collapse" id="collapseFour" role="tabpanel">
				<div class="panel-body">
					<p>
						This site was built with
					</p>
					<ul>
						<li>PHP 7</li>
						<li>Laravel 5.3</li>
						<li>Lumen 5.2</li>
						<li>MySQL 5.7</li>
						<li>Bootstrap 3</li>
						<li>AngularJS 1 / 2</li>
						<li>Typescript</li>
						<li>Plotly</li>
						<li>AWS SDK for PHP</li>
						<li>Gulp</li>
						<li>Jasmine</li>
						<li>PHPUnit</li>
						<li>Ubuntu 16.04 LTS / Apache 2.4</li>
					</ul>
					<p>
						For development, I use
					</p>
					<ul>
						<li>PHPStorm</li>
						<li>WebStorm</li>
						<li>Sublime Text</li>
						<li>MySQL Workbench</li>
						<li>git / GitHub</li>
					</ul>
					<p>
						The code for this site is availabe for review in a public repo on
						<a href="https://github.com/stephenmoore56/mooredatabase-laravel-5" target="_blank">
							GitHub
						</a>
						.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" id="headingFive" role="tab">
				<h4 class="panel-title">
					<a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion"
					   data-target="#collapseFive" data-toggle="collapse" role="button">
						Industry Experience
					</a>
				</h4>
			</div>
			<div aria-labelledby="headingFive" class="panel-collapse collapse" id="collapseFive" role="tabpanel">
				<div class="panel-body">
					<p>
						I have over 20 years experience developing software for use in a
						variety of industries:
					</p>
					<ul class="content_list">
						<li>
							Marketing
						</li>
						<li>
							Education
						</li>
						<li>
							Data Center Operations
						</li>
						<li>
							Financial Services
						</li>
						<li>
							Manufacturing
						</li>
						<li>
							Retail
						</li>
						<li>
							Automotive Parts Recycling
						</li>
						<li>
							Litigation Support
						</li>
						<li>
							Class Action Claims Administration
						</li>
						<li>
							Travel
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-1 col-no-pad col-spacer">
</div>
<div class="col-sm-4 col-no-pad">
	<img class="staticImage" src="{{ image.src }}" alt="{{ image.alt }}">
</div>
