<div class="col-sm-6 col-no-pad">
	<div class="page_header">
		<h1>
			Training
		</h1>
	</div>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingSix">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
						Open Source Development Tools
					</a>
				</h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
				<div class="panel-body">
					<ul>
						<li>
							PHP with MySQL Beyond the Basics, Lynda.com
						</li>
						<li>
							PHP with MySQL Essential Training, Lynda.com
						</li>
						<li>
							PHP Programming: The Basics, VTC.com
						</li>
						<li>
							PHP 5.5 First Look, Lynda.com
						</li>
						<li>
							Object-Oriented Programming with PHP, Lynda.com
						</li>
						<li>
							Zend Framework Quick Start, Zend.com
						</li>
						<li>
							Up and Running with Laravel, Lynda.com
						</li>
						<li>
							Ruby Essential Training, Lynda.com
						</li>
						<li>
							Ruby on Rails 3 Essential Training, Lynda.com
						</li>
						<li>
							Ruby Koans, rubykoans.com
						</li>
						<li>
							Ruby Bits, codeschool.com
						</li>
						<li>
							Ruby Bits Part 2, codeschool.com
						</li>
						<li>
							Try Ruby, codeschool.com
						</li>
						<li>
							Rails for Zombies Redux, codeschool.com
						</li>
						<li>
							Rails for Zombies 2, codeschool.com
						</li>
						<li>
							Up and Running with Python, Lynda.com
						</li>
						<li>
							Java 2 Certified Programmer, VTC.com
						</li>
						<li>
							WordPress 3 Essential Training, Lynda.com
						</li>
						<li>
							Fundamentals of Software Version Control, Lynda.com
						</li>
						<li>
							Git Essential Training, Lynda.com
						</li>
						<li>
							Try Git, codeschool.com
						</li>
						<li>
							Git Real, codeschool.com
						</li>
						<li>
							Design Patterns, VTC.com
						</li>
						<li>
							Foundations of Programming: Object-Oriented Design, Lynda.com
						</li>
						<li>
							Foundations of Programming: Refactoring Code, Lynda.com
						</li>
						<li>
							Foundations of Programming: Test-Driven Development, Lynda.com
						</li>
						<li>
							Introduction to Apache Web Server, VTC.com
						</li>
						<li>
							Up and Running with Sublime Text 2, Lynda.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingSeven">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						Data Science
					</a>
				</h4>
			</div>
			<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
				<div class="panel-body">
					<ul>
						<li>
							Statistics One, Princeton University/Coursera
						</li>
						<li>
							Computing for Data Analysis, Johns Hopkins University/Coursera
						</li>
						<li>
							Data Analysis &amp; Statistical Inference, Duke University/Coursera
						</li>
						<li>
							The Data Scientist's Toolbox, Johns Hopkins University/Coursera
						</li>
						<li>
							R Programming, Johns Hopkins University/Coursera
						</li>
						<li>
							Exploratory Data Analysis, Johns Hopkins University/Coursera
						</li>
						<li>
							Getting and Cleaning Data, Johns Hopkins University/Coursera
						</li>
						<li>
							Reproducible Research, Johns Hopkins University/Coursera
						</li>
						<li>
							Statistical Inference, Johns Hopkins University/Coursera
						</li>
						<li>
							Regression Models, Johns Hopkins University/Coursera
						</li>
						<li>
							Practical Machine Learning, Johns Hopkins University/Coursera
						</li>
						<li>
							Developing Data Products, Johns Hopkins University/Coursera
						</li>
						<li>
							Machine Learning, Stanford University/Coursera
						</li>
						<li>
							Up and Running with Octave, Lynda.com
						</li>
						<li>
							Try R, codeschool.com
						</li>
						<li>
							Up and Running with R, Lynda.com
						</li>
						<li>
							R Statistics Essential Training, Lynda.com
						</li>
						<li>
							Introduction to R, DataCamp.com
						</li>
						<li>
							Time Series Analysis and Forecasting in R, Udemy.com
						</li>
						<li>
							Data Manipulation in R with dplyr, DataCamp.com
						</li>
						<li>
							Python 3 Essential Training, Lynda.com
						</li>
						<li>
							Python Fundamentals, Pluralsight.com
						</li>
						<li>
							Python Developers Toolkit, Pluralsight.com
						</li>
						<li>
							Complete Python Bootcamp, Udemy.com
						</li>
						<li>
							Excel for Mac 2011 Essential Training, Lynda.com
						</li>
						<li>
							Managing and Analyzing Data in Excel, Lynda.com
						</li>
						<li>
							Excel 2010: Charts in Depth, Lynda.com
						</li>
						<li>
							Excel 2013: Charts in Depth, Lynda.com
						</li>
						<li>
							Excel 2013: Managing and Analyzing Data, Lynda.com
						</li>
						<li>
							Excel 2010: Advanced Formulas and Functions, Lynda.com
						</li>
						<li>
							Excel 2007: Business Statistics, Lynda.com
						</li>
						<li>
							Excel Data Analysis: Forecasting, Lynda.com
						</li>
						<li>
							Up and Running with Excel Cluster Analysis, Lynda.com
						</li>
						<li>
							Up and Running with Excel What-If Analysis, Lynda.com
						</li>
						<li>
							Techniques and Concepts of Big Data, Lynda.com
						</li>
						<li>
							Wayne Winston on Analytics, Lynda.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"
					   aria-expanded="false" aria-controls="collapseOne">
						HTML / CSS
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<ul>
						<li>
							HTML/XHTML I &amp; II, MCTC
						</li>
						<li>
							XHTML Essential Training, Lynda.com
						</li>
						<li>
							HTML5 First Look, Lynda.com
						</li>
						<li>
							HTML5: Structure, Syntax, and Semantics, Lynda.com
						</li>
						<li>
							HTML5: Graphics and Animation with Canvas, Lynda.com
						</li>
						<li>
							HTML5: Web Forms in Depth, Lynda.com
						</li>
						<li>
							Functional HTML5 &amp; CSS3, codeschool.com
						</li>
						<li>
							Web Form Design Best Practices, Lynda.com
						</li>
						<li>
							Web Site Planning and Wireframing, Lynda.com
						</li>
						<li>
							Interaction Design Fundamentals, Lynda.com
						</li>
						<li>
							Cascading Style Sheets, MCTC
						</li>
						<li>
							CSS for Developers, Lynda.com
						</li>
						<li>
							CSS Cross-Country, codeschool.com
						</li>
						<li>
							CSS with LESS and Sass, Lynda.com
						</li>
						<li>
							Assembling Sass, codeschool.com
						</li>
						<li>
							Assembling Sass Part Two, codeschool.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						JavaScript
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<ul>
						<li>
							Javascript I &amp; II, MCTC
						</li>
						<li>
							Javascript Essential Training, Lynda.com
						</li>
						<li>
							Practical &amp; Effective Javascript, Lynda.com
						</li>
						<li>
							Javascript, VTC.com
						</li>
						<li>
							Javascript Functions, Lynda.com
						</li>
						<li>
							jQuery Essential Training, Lynda.com
						</li>
						<li>
							jQuery Air: First Flight, codeschool.com
						</li>
						<li>
							jQuery Air: Captain's Log, codeschool.com
						</li>
						<li>
							CoffeeScript, codeschool.com
						</li>
						<li>
							AJAX Essential Training, Lynda.com
						</li>
						<li>
							AJAX Crash Course by SitePoint, Lynda.com
						</li>
						<li>
							Javascript and JSON, Lynda.com
						</li>
						<li>
							Creating Dynamic Menus, Lynda.com
						</li>
						<li>
							Real-time Web with Node.js, codeschool.com
						</li>
						<li>
							Node.js First Look, Lynda.com
						</li>
						<li>
							Node.js Essential Training, Lynda.com
						</li>
						<li>
							Node Tuts, nodetuts.com
						</li>
						<li>
							Up and Running with AngularJS, Lynda.com
						</li>
						<li>
							AngularJS - Parts 1 &amp; 2, codeschool.com
						</li>
						<li>
							JavaScript Road Trip Parts 1-2-3, codeschool.com
						</li>
						<li>
							JavaScript Best Practices, codeschool.com
						</li>
						<li>
							ES2015: The Shape of JavaScript to Come, codeschool.com
						</li>
						<li>
							Try jQuery, codeschool.com
						</li>
						<li>
							Shaping Up with AngularJS, codeschool.com
						</li>
						<li>
							Staying Sharp with AngularJS, codeschool.com
						</li>
						<li>
							Building Blocks of Express.js, codeschool.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Mobile &amp; Responsive Development
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<ul>
						<li>
							jQuery Mobile Essential Training, Lynda.com
						</li>
						<li>
							jQuery Mobile Web Applications, Lynda.com
						</li>
						<li>
							jQuery Mobile 1.4 New Features and Migration, Lynda.com
						</li>
						<li>
							Mobile Web Design &amp; Development Fundamentals, Lynda.com
						</li>
						<li>
							Responsive Design Fundamentals, Lynda.com
						</li>
						<li>
							WordPress Mobile Solutions, Lynda.com
						</li>
						<li>
							Journey Into Mobile, codeschool.com
						</li>
						<li>
							Up and Running with Bootstrap, Lynda.com
						</li>
						<li>
							Bootstrap: Adding Interactivity to Your Site, Lynda.com
						</li>
						<li>
							Bootstrap 3: Advanced Web Development, Lynda.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingFour">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						Internet of Things
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
					<ul>
						<li>
							Up and Running with Arduino, Lynda.com
						</li>
						<li>
							Up and Running with Raspberry Pi, Lynda.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingFive">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						Cloud Computing
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body">
					<ul>
						<li>
							Cloud Computing First Look, Lynda.com
						</li>
						<li>
							Up and Running with Amazon Web Services, Lynda.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingEight">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
						Microsoft Tools
					</a>
				</h4>
			</div>
			<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
				<div class="panel-body">
					<ul>
						<li>
							Microsoft Visual Studio Class Designer, VTC.com
						</li>
						<li>
							ASP.NET 3.5 Essential Training, Lynda.com
						</li>
						<li>
							Introduction to Microsoft C# 2008, VTC.com
						</li>
						<li>
							Programming with VB.NET 2005, MCTC
						</li>
						<li>
							ADO.NET Using Visual Basic 2005, MCTC
						</li>
						<li>
							ASP.NET Using Visual Basic 2005, MCTC
						</li>
						<li>
							.NET Developers&rsquo; Tour, Microsoft Corporation
						</li>
						<li>
							.NET Development Seminars, Rainier Technology
						</li>
						<li>
							N-Tier Development Seminars, Rainier Technology
						</li>
						<li>
							MTS/COM+ Seminar, Microsoft Corporation
						</li>
						<li>
							Visual Basic 6.0, Alto Consulting
						</li>
						<li>
							Access 97, Alto Consulting
						</li>
						<li>
							Access 2.0, Executrain
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingNine">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
						Database
					</a>
				</h4>
			</div>
			<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
				<div class="panel-body">
					<ul>
						<li>
							MySQL Essential Training, Lynda.com
						</li>
						<li>
							MySQL 5 Administration, VTC.com
						</li>
						<li>
							MySQL 5 Development Parts 1 &amp; 2, VTC.com
						</li>
						<li>
							Up and Running with NoSQL Databases, Lynda.com
						</li>
						<li>
							SQL Server 2008 Essential Training, Lynda.com
						</li>
						<li>
							OLAP Boot Camp / SQL Server 2000 Analysis Services, Microsoft Corporation
						</li>
						<li>
							SQL Server 7.0 for Application Developers, Alto Consulting &amp; Training
						</li>
						<li>
							SQL Server 7.0 Data Warehousing, Microsoft Corporation
						</li>
						<li>
							SQL Server 7.0 Workshop, Microsoft Corporation
						</li>
						<li>
							SQL Server 7.0 Database Administration, ARIS Corporation
						</li>
						<li>
							SQL Server 6.5 Database Administration, Executrain
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingTen">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
						Software Development Life Cycle
					</a>
				</h4>
			</div>
			<div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
				<div class="panel-body">
					<ul>
						<li>
							Agile Best Practices, codeschool.com
						</li>
						<li>
							SCRUM, Audatex
						</li>
						<li>
							Lean Six Sigma, Audatex
						</li>
						<li>
							CMM/pMax, Audatex
						</li>
						<li>
							Use Cases, Ameriprise
						</li>
						<li>
							Method One, Ameriprise
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingEleven">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
						UNIX / Linux
					</a>
				</h4>
			</div>
			<div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
				<div class="panel-body">
					<ul>
						<li>
							Unix for Mac OS X Users, Lynda.com
						</li>
						<li>
							Up and Running with Bash Scripting, Lynda.com
						</li>
						<li>
							UNIX Shell Fundamentals, VTC.com
						</li>
						<li>
							UNIX Shell Scripting Advanced, VTC.com
						</li>
						<li>
							Linux: Introduction to Linux, VTC.com
						</li>
						<li>
							Using Secure Shell (SSH), VTC.com
						</li>
						<li>
							SCO UNIX System Administration, Computer Classroom
						</li>
						<li>
							UNIX, Hennepin Technical College
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingTwelve">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
						Adobe Tools
					</a>
				</h4>
			</div>
			<div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
				<div class="panel-body">
					<ul>
						<li>
							Dreamweaver I &amp; II, MCTC
						</li>
						<li>
							Dreamweaver CS4 with CSS Essential Training, Lynda.com
						</li>
						<li>
							Photoshop I, II &amp; III, MCTC
						</li>
						<li>
							Photoshop CS4 One-on-One: Fundamentals, Lynda.com
						</li>
						<li>
							Creating Graphics for the Web Using Photoshop, MCTC
						</li>
						<li>
							Flash I &amp; II, MCTC
						</li>
						<li>
							Flash CS4 Professional Getting Started, Lynda.com
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingThirteen">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
						Graphic Design
					</a>
				</h4>
			</div>
			<div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel"
				 aria-labelledby="headingThirteen">
				<div class="panel-body">
					<ul>
						<li>
							Fundamentals of Design, codeschool.com
						</li>
						<li>
							Typographic Principles, Lynda.com
						</li>
						<li>
							Foundations of Typography, Lynda.com
						</li>
						<li>
							Color Theory: The Mechanics of Color, Gnomon Workshop
						</li>
						<li>
							Practical Light and Color: Theory and Application, Gnomon Workshop
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingFourteen">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
					   data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
						Photography
					</a>
				</h4>
			</div>
			<div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel"
				 aria-labelledby="headingFourteen">
				<div class="panel-body">
					<ul>
						<li>
							Digital Photography Principles, Lynda.com
						</li>
						<li>
							Digital Photography Principles: The Camera, Lynda.com
						</li>
						<li>
							Digital SLR 1 &amp; 2, Minneapolis Community Education
						</li>
						<li>
							The Art of Photography I &amp; II, IFP Minnesota
						</li>
						<li>
							Foundations of Photography: Exposure, Lynda.com
						</li>
						<li>
							Foundations of Photography: Lenses, Lynda.com
						</li>
						<li>
							Foundations of Photography: Black and White, Lynda.com
						</li>
						<li>
							Foundations of Photography: Composition, Lynda.com
						</li>
						<li>
							Shooting and Processing High Dynamic Range Photographs (HDR), Lynda.com
						</li>
						<li>
							Photo Assignment: Natural Light Portrait, Lynda.com
						</li>
						<li>
							Photo Assignment: Fill Flash Portraits, Lynda.com
						</li>
						<li>
							Flickr Essential Training, Lynda.com
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-1 col-no-pad col-spacer">
</div>
<div class="col-sm-4 col-no-pad">
	<img class="staticImage" src="{{ image.src }}" alt="{{ image.alt }}">
</div>
