node_modules/
.idea/workspace.xml
.idea/dictionaries/stephen.xml
.idea/inspectionProfiles/Project_Default.xml

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env
.env.prod
config/mail.php
database/seeds/UsersTableSeeder.php
storage/scripts/production/loadMongo.sh
storage/scripts/production/json_data/
storage/scripts/local/loadMongo.sh
storage/scripts/local/json_data/
storage/logs/

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
