body {
    padding: 58px 0 58px 0;
}

div.page_header {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

div.page_header h1 {
    font-size: 20px;
    margin: 5px;
}

img.logo60 {
    display: block;
    height: 60px;
    margin: 10px auto;
}

table.species-list {
    margin-bottom: 0;
}

td.scientific_name {
    font-style: italic;
}

.filterForm {
    margin-bottom: 10px;
}

.filterForm label, 
.filterForm input,
.filterForm select {
    margin-right: 10px;
}

.chart_div {
    max-height: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.staticImage {
    max-height: 600px;
    max-width: 300px;
}

#tripCount, #locationCount, #speciesCount {
    font-weight: bold;
}

.error {
    color: red;
}

#backButton, #menuButton, .addButton {
    margin-right: 5px;
}

// glyphicon margins
.glyphicon {
    margin-right: 5px;
}
.glyphicon-menu-right, 
.glyphicon-menu-left {
    margin-right: 0;
}

// multiple column layouts like static and detail
// remove padding from columns
.col-no-pad {
    padding: 0;
}
.col-spacer {
    max-width: 10px;
}

ul.menu-list {
    padding: 5px;
    list-style-type: none;
}