<table class="table table-striped table-condensed table-bordered" data-ng-visible="data.length > 0">
		<thead>
			<tr>
				<th data-ng-click="sortResults('common_name')">Common Name</th>
				<th class="text-center">Action</th>
				<th class="hidden-xs" data-ng-click="sortResults('scientific_name')">Scientific Name</th>
				<th class="hidden-xs" data-ng-click="sortResults(['order_name','common_name'])">Order</th>
				<th class="hidden-xs" data-ng-click="sortResults(['family','subfamily','common_name'])">Family</th>
				<th class="hidden-xs" data-ng-click="sortResults('first_seen')">First Seen</th>
				<th class="hidden-xs" data-ng-click="sortResults('last_seen')">Last Seen</th>
				<th class="text-right" data-ng-click="sortResults('sightings')">Sightings</th>
			</tr>
		</thead>
		<tbody>
			<tr species-detail data-ng-repeat="bird in filtered = (data | orderBy:predicate:reverse | searchBirds:birdQuery | filter:selectedOrder.order_name | limitTo: numLimit)">
				<td><% bird.common_name %></td>
				<td class="text-center">
					<a class="btn btn-info btn-xs" href="/reports/speciesDetail/<% bird.id %>">
						Detail
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</a>
				</td>
				<td class="hidden-xs scientific_name"><% bird.scientific_name %></td>
				<td class="hidden-xs"><% bird.order_name %></td>
				<td class="hidden-xs"><% bird.family %> <% bird.subfamily %></td>
				<td class="hidden-xs"><% bird.first_seen %></td>
				<td class="hidden-xs"><% bird.last_seen %></td>
				<td class="text-right"><% bird.sightings %></td>
			</tr>
		</tbody>
</table>
